@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600;800&family=Poppins:wght@100;300;400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --primary: #F7FFF7;
    --secondary: #7ECE97;
    --tertiary: #333344;


    --fonts-primary: #333344;
    --fonts-secondary: var(--primary);
    --h-color: var(--secondary);
    --btn-primary: var(--secondary);
    --btn-secondary: var(--primary);
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--fonts-primary);
    height: 100%;
}

p {
    font-size: 1rem;
    line-height: 1.8rem;
}

h1 {
    font-family: 'Indie Flower', cursive;
    color: var(--tertiary);
    font-size: 6rem;
    letter-spacing: 0.2rem;
    font-weight: 900;
}

h2 {
    font-family: 'Indie Flower', cursive;
    color: var(--tertiary);
    font-size: 3rem;
    letter-spacing: 0.2rem;
    font-weight: 900;
}

h4 {
    font-family: 'Indie Flower', cursive;
    color: var(--tertiary);
    font-size: 2rem;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s ease;
    box-sizing: border-box;
    position: fixed;
    z-index: 10000;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 5px;
    text-decoration: none;
    color: var(--secondary);
    letter-spacing: 2px;
    transition: 0.6s ease-in-out;
    border-radius: 10px;
}

header a:hover {
    background-color: var(--btn-primary);
    color: var(--primary);
    border-radius: 10px;
    transition: 0.6s ease-in-out;
}

header.stick ul li a {
    color: var(--secondary);
    border-radius: 10px;
    transition: 0.6s ease-in-out;
}

header.stick ul li a:hover {
    color: var(--fonts-secondary);
    transition: 0.6s ease-in-out;
}

.header {
    background-color: #333344;
    display: grid;
    grid-template-areas:
        "contact contact contact"
        "logo nav nav";
    justify-content: space-between;
}


.logo {
    grid-area: logo;
    margin-left: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
}

#menu {
    display: flex;
    list-style: none;
    width: 80%;
    justify-content: right;
    margin-right: 1rem;
}

#menu a {
    display: block;
    padding: .5rem;
}

#nav {
    display: flex;
    justify-content: right;
    grid-area: nav;
}

#btn-mobile {
    display: none;
}

main {
    background-color: #7ECE97;
    background: linear-gradient(to bottom, rgba(126, 206, 151, .9), rgba(126, 206, 151, .7)),
        url("../../assets/images/dogsBanco.jpeg");
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

.main_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.main_content {
    max-width: 30%;
}

.main_footer {
    display: flex;
}

.btn-agendar {
    background-color: transparent;
}

.agendar {
    background-color: #333344;
    border-radius: 10px;
    color: #7ECE97;
    display: block;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: .5rem 1.25rem;
    position: relative;
    letter-spacing: .4rem;
    border: 1px solid #333344;
}

.agendar:before {
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    padding: 5px;
    position: absolute;
}

.agendar:after {
    content: "";
    bottom: 15px;
    left: 0px;
    right: 0px;
    top: 0px;
    position: absolute;
}

.agendar.active {
    box-shadow: inset 0 0 7px rgba(0, 0, 0, .2);
    top: 4px;
}

.agendar:hover {
    border-radius: 10px;
    background-color: transparent;
    transition: 0.6s ease-in-out;
    color: #333344;
    border: 1px solid #333344;

}

.story {
    background-color: transparent;
    background-image: linear-gradient(90deg, #FFFCF9 50%, #E6FF46 50%);
    display: flex;
    padding: 1rem 10vw 1rem 1rem;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.about {
    background-color: transparent;
    background-image: linear-gradient(235deg, #FFFCF9 75%, #E6FF46 75%);
    width: 60%;
    padding-bottom: 2rem;
    text-align: center;
}

.about img {
    border-radius: 10px;
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.story-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
    margin-left: 4rem;
}

.services {
    background-color: #F77558;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.services-text {
    flex: 1;
    margin-left: 150px;
    padding: 1rem;
    max-width: 50%;
}

.services-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    max-width: 50%;
    gap: 1.5rem;
    margin-top: 1rem;
    justify-content: center;
}

.item {
    display: flex;
    color: var(--fonts-primary);
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 1.5rem;
    background-color: #FFFCF9;
    transition: 0.6s ease-in-out;
}

.message {
    background-color: #81C6DD;
    color: var(--fonts-primary);
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 2rem;
    padding: 2rem 15vw 2rem 15vw;
}

.installations {
    display: flex;
    background-color: transparent;
    background-image: linear-gradient(90deg, #FFFCF9 95%, #FA9DBE 95%);
    padding: 1rem;
}

.installations-text {
    display: flex;
    flex: 1;
    margin-left: 15px;
    padding: 1rem;
    max-width: 40%;
    flex-direction: column;
    justify-content: center;
}

.installations-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    max-width: 50%;
    gap: 1.5rem;
    justify-content: center;
    margin-left: 80px;
}

.installations-item {
    position: flex;
    display: flex;
    color: var(--fonts-primary);
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 180px;
    height: 180px;
}

.installations-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.img-list li {
    border: 5px solid transparent;
    box-sizing: border-box;
    width: 33.33%;
    float: left;
    position: relative;
    cursor: pointer;
}

.img-list img {
    max-width: 100%;
    vertical-align: middle;
}

/* Image Placeholder Styles
-------------------------------------------------------------- */
.img-placeholder:before,
.img-placeholder:after {
    padding-top: 33.33%;
    content: "";
    display: block;
}

.img-placeholder {
    background: #222;
    box-shadow: 0 0 0 8px #222 inset, 0 0 0 9px #333 inset;
    color: #444;
    line-height: 0;
    text-align: center;
    display: block;
}

/* The hover effect
-------------------------------------------------------------- */
.img-list li:before {
    transition: all .5s ease;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FA9DBE;
    transform: scale(0);
}

.img-list li:hover:before {
    opacity: .5;
    transform: scale(1);
}

.img-list li:after {
    transition: all .6s ease .2s;
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    border: 1px solid #aaa;
    background: #F77558;
    opacity: 0;
    transform: scale(0);
}

.img-list li:hover:after {
    opacity: .35;
    transform: scale(1);
}




.customers {
    background-color: #7ECE97;
    display: flex;
    padding: 10px;
    flex-direction: column;
    padding: 10px 90px 10px 90px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.cards li:nth-child(2) {
    background-color: #F77558;
}

.cards li:nth-child(3) {
    background-color: #E6FF46;
}

.cards li:nth-child(4) {
    background-color: #FA9DBE;
}

.card_customer {
    background-color: #81C6DD;
    border-radius: 10px;
    padding: 1rem;
    width: 23%;
}

.card_customer_testimony {}

.card_customer_figure img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    justify-items: center;

}

.maps {
    background-color: #333344;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 2rem;
}

.iframe {
    flex: 3;
    height: 80vh;
}

address {
    display: flex;
    height: 80vh;
    flex-direction: column;
    flex: 2;
    font-size: .75rem;
    color: #F7FFF7;
}

.address-location {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    height: 100%;
    font-size: .75rem;
    justify-content: space-evenly;
}

.address-location h2 {
    color: #FFFCF9;
    font-size: 1.6rem;
}

.contact {}

.midias_sociais a {
    color: #FFFCF9;
    padding: .5rem;
}

.endereco {}





.line {
    border-top: 1px solid var(--bg-secondary);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 120px;
        right: 0px;
        margin: auto;
        background: var(--primary);
        backdrop-filter: blur(8px);
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 80px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid var(--bg-secondary);
        border-radius: 0;
    }

    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
        color: var(--secondary);
    }

    #menuBurger {
        border-top: 2px solid;
        width: 20px;
    }

    #menuBurger::after,
    #menuBurger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    #nav.active #menuBurger {
        border-top-color: transparent;
    }

    #nav.active #menuBurger::before {
        transform: rotate(135deg);
    }

    #nav.active #menuBurger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    header a:hover {
        border-radius: 0;
    }

    header.stick ul li a {
        border-radius: 0;
    }

    header.stick #btn-mobile {
        color: var(--secondary);
    }

    header.stick #menu {
        background-color: var(--primary);
    }


    .main_content {
        max-width: 100%;
        margin-top: -100px;
    }


    .story {
        padding: 1rem 1rem 1rem 1rem;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .about {
        width: 100%;
        padding: .5rem;
        background-image: none;
    }

    .about img {
        border-radius: 10px;
        max-width: 250px;
        max-height: 250px;
        width: auto;
        height: auto;

    }

    .story-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        margin-left: 0rem;
    }

    .services {
        flex-direction: column;
    }

    .services-text {
        margin-left: .1rem;
        padding: .1rem;
        max-width: 100%;
    }

    .services-cards {
        padding: .1rem;
        justify-content: space-between;
        max-width: 100%;
    }

    .item {
        width: 125px;
        height: 125px;
        border-radius: 10px;
    }

    .installations {
        flex-direction: column;

    }

    .installations-text {
        margin-left: 1px;
        max-width: 100%;
    }

    .installations-cards {
        border-radius: 10px;
        padding: .1rem;
        max-width: 100%;
        justify-content: space-around;
        margin-left: 1px;
    }

    .installations-item {
        position: relative;
        display: flex;
        color: var(--fonts-primary);
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 125px;
        height: 125px;
    }

    .installations-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .btn-mobile {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 1.5rem;
    }

    .customers {
        background-color: #7ECE97;
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem 1rem 1rem;
    }

    .cards {
        flex-direction: column;
    }

    .card_customer {
        width: 100%;
        margin-top: 1rem;
    }

    .iframe {
        min-width: 100vw;
    }


    address {
        padding: 1rem;
        display: flex;
        flex-direction: column;

        flex: 1;
        font-size: 0.75rem;
        color: var(--fonts-secondary);
    }

}